<div class="mx-auto">
  <% if current_user.is_coach? %>
    <%= render "coaches/dashboard" %>
  <% elsif current_user.is_organization? || current_user.is_admin? %>
    <%= render "tournaments/index" %>
  <% else %>
    <%= render "players/dashboard" %>
  <% end %>
</div>
