<table id="layout" border="0" cellspacing="0" cellpadding="0" width="600" style="margin: 10px auto;text-align: left;">
  <tr>
    <td id="content" style="background: #ffffff;line-height: 1.25em;padding: 10px 20px 30px 40px;vertical-align: top;">
      <p>Your request to be <%= @user_role_request.roles.first.name %> has been <%= @user_role_request.status %>.</p>
    </td>
  </tr>
</table>
