<div class="flex-1">
  <div class="flow-root flex gap-2 items-center border-b-2 pb-1">
    <h2 class="text-center text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-4xl dark:text-white float-left">My Teams</h2>
    <button 
      type="button" 
      data-action="portal#newTeamClick"
      class="float-right text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-md px-5 py-1 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">[+] Team
    </button>
  </div>
  <% if current_user.teams_coached.count == 0 %>
    <div class="shadow overflow-hidden bg-gray-50 py-10 text-center rounded-sm">
      You have no teams. Click "Add Team" above to add your team and invite your players.<br>
      <i>Note: You must have a team with players to create a non-adhoc tournament.</i>
    </div>
  <% else %>
    <%= render "coaches/teams/table" %>
  <% end %>
</div>