  <div class="flex justify-center">
    <div class="rounded-lg shadow-lg bg-white max-w-sm">
      <div class="mt-2 flex flex-wrap justify-center">
        <div class="w-7/12 sm:w-6/12 px-4">
          <img src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-4-470x470.png" alt="..." class="shadow rounded-full max-w-full h-auto align-middle border-none" />
        </div>
      </div>
      <div class="p-6">
        <h5 class="text-gray-900 text-md font-medium mb-2 text-center">Maddy B</h5>
      </div>
    </div>
  </div>