        <div class="md:col-span-1 border-[1px] p-2">
          <div class="grid grid-cols-6 gap-6"> 
            <div id="player-name-1" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 1</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_1_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >              
            </div>
            <div id="player-name-2" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 2</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_2_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>          
          </div>

          <div class="grid grid-cols-6 gap-6 mt-3"> 
            <div id="player-name-3" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 3</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_3_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>
            <div id="player-name-4" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 4</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_4_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>          
          </div>   

          <div class="grid grid-cols-6 gap-6 mt-3"> 
            <div id="player-name-5" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 5</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_5_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>
            <div id="player-name-6" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 6</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_6_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>          
          </div>
          
          <div class="grid grid-cols-6 gap-6 mt-3"> 
            <div id="player-name-7" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 7</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_7_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>
            <div id="player-name-8" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 8</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_8_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>          
          </div>   
          
          <div class="grid grid-cols-6 gap-6 mt-3"> 
            <div id="player-name-9" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 9</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_9_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>
            <div id="player-name-10" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 10</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_10_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>          
          </div>  

          <div class="grid grid-cols-6 gap-6 mt-3"> 
            <div id="player-name-11" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 11</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_11_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>
            <div id="player-name-12" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 12</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_12_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>          
          </div>   
          
          <div class="grid grid-cols-6 gap-6 mt-3"> 
            <div id="player-name-13" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 13</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_13_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>
            <div id="player-name-14" class="col-span-6 sm:col-span-6 lg:col-span-3">
              <label class="block text-sm font-medium text-gray-700">Player 14</label>
              <input
                type="text"
                data-action="input->adhoc#formInput"
                data-adhoc-target="input"
                name="tournament[player_14_name]"
                id=""
                class="player-field mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                value=""
              >
            </div>          
          </div>                              
        </div>
