
<div class="columns-2">
    <div class=""><%= render "table", tournament: @tournament, matches: @tournament.matches.where(court: 1) %></div>
    <div class=""><%= render "table", tournament: @tournament, matches: @tournament.matches.where(court: 2) %></div>
</div>     


<div class="columns-2">


</div>    


<script>
  function updateScores(finalize) {
    console.log("== click")
    var score_data = $('input[name^=team-]').map(function(idx, elem) {
      return { team_id: $(elem).attr('id'), score: $(elem).val() }
    }).get();


    event.preventDefault();

    $.ajax({
        type: "POST",
        url: "/team_scores_update",
        data: { score_data, finalize },
        success: function (response) {
          console.log("== finalize: " + finalize);
          console.log("== success, response: " + response)
          if (finalize == false) {
            location.reload(); 
          } else {
            window.location.href = "/tournament_round_two/<%= @tournament.id %>";
          }
        }
    })
  };
</script>