
<div class="columns-2">
    <div class=""><%= render "table", tournament: @tournament, matches: @tournament.matches.where(court: 1) %></div>
    <div class=""><%= render "table", tournament: @tournament, matches: @tournament.matches.where(court: 2) %></div>
</div>     


<div class="columns-2">


</div>    


<script>
  function updateScores() {
    console.log("== click")
    var score_data = $('input[name^=team-]').map(function(idx, elem) {
      return { team_id: $(elem).attr('id'), score: $(elem).val() }
    }).get();

    console.log(score_data);
    event.preventDefault();

    $.ajax({
        type: "POST",
        url: "/team_scores_update",
        data: { score_data },
        success: function (response) {
          console.log("== success, response: " + response)
          location.reload(); 
        }
    })
  };
</script>