<% if @tournaments %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <% if current_user&.is_admin? %>
            <th scope="col" class="px-6 py-3">Created By</th>
          <% end %>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @tournaments.each do |tournament| %>
          <tr class="bg-grey">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= tournament.name %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= tournament.created_at.strftime("%Y-%m-%d | %l:%M %p") %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              <% if tournament.tournament_completed %>
                <span class="text-green-600">Completed</span>
              <% elsif tournament.rounds_configured == [] %>
                <span class="text-red-600">Incomplete configuration</span>
              <% elsif !tournament.tournament_teams.collect(&:score).all? { |score| score.nil? } %>
                <span class="text-blue-600">In process</span>
              <% else %>
                <span class="text-gray-700">Created</span>
              <% end %>          
            </td>
            <% if current_user&.is_admin? %>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= "#{tournament&.created_by&.full_name}, id: #{tournament&.created_by&.id}" if tournament&.created_by %></td>
            <% end %>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              <%= render "tournaments/tournaments_row_buttons", tournament: tournament %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
 
<script>
  $(document).ready( function () {
    $('#tournamentsTable').dataTable( {
      columnDefs: [
        { orderable: false, targets: [0, 7] }
      ],      
      order: [[1, 'desc']],
      dom: 'rtf',
      pageLength: 250
    } );
  } );
</script> 
