<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-gray-500 text-4xl tracking-tighter items-center pt-1 font-bold">Editing Tournament</h1>
  <% if @tournament.adhoc %>
    <%= render "form_adhoc", tournament: @tournament %>
  <% else %>
    <%= render "form", tournament: @tournament %>
  <% end %>
</div>
