<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-gray-500 text-4xl tracking-tighter items-center pt-1 font-bold">Editing Tournament</h1>

  <%= render "form_player", tournament: @tournament %>

</div>
