<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-5xl font-extrabold text-gray-900 sm:text-center">Tournament Results</h1>
    </div>

    <% if @tournament.courts == 1 %>
      <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-1">
        <%= render "results_single",
          players_gold_winner: @players_gold_winner, 
          players_gold: @players_gold, 
          players_silver: @players_silver
        %>
      </div>     
    <% elsif @tournament.courts == 2 %>
      <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-2">
        <%= render "results_double", 
          tournament: @tournament, 
          players_gold_winner: @players_gold_winner, 
          players_gold: @players_gold, 
          players_silver: @players_silver 
        %>
      </div>
    <% end %>

  </div>
</div>
