<div class="mx-auto" data-controller="users">
  <div class="pb-6 flex justify-between items-center">
    <h1 class="text-gray-500 text-3xl tracking-tighter items-center pt-1 font-bold"><%= @title %></h1>
      <div class="flex gap-2 items-center pb-1 flow-root">
        <button 
          type="button" 
          class="float-right text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-md px-5 py-1 text-center mr-2"
          data-action="users#newOneOffPlayer">Create One-Off Player
        </button>       
        <button 
          type="button" 
          class="float-right text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-full text-md px-5 py-1 text-center mr-2"
          data-action="users#newTeamPlayer">Create Team Player
        </button> 
      </div>    
    <%# link_to 'New Player', new_user_path, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
  <% if @players_one_off.count + @players_team.count == 0 %>
    <div class="italic text-center text-md font-medium tracking-tight leading-none text-gray-600 md:text-md lg:text-md">
      Such nothingness! <br><br> Add some players to your team!<br><br>
    </div>

    <div class="justify-center flex items-center">
        <div class="w-1/3 rounded-lg border-dashed p-4 border-2 border-gray-500 italic text-justify text-sm font-medium text-gray-500 md:text-md lg:text-md">
          <br>
          Create a "One-Off Player" when the player will be temporary or for an adhoc Tournament situation. The One-Off player
          can be entered quickly without an email or contact information, where you're not looking to track long-term statistics.<br><br>
          Members of your Team should be "Team Players". A Team Player is a regular member of your team, where you'll generally
          have all of their information available and entered. As you create tournaments, statistics will be generated on the Leaderboard.
          As you create more Tournaments, the data will become more accurate.
          <br><br>
          Of noteworthiness when creating a Player, is the "show on Leaderboard" property. You can add or remove a Player from your Leaderboard page statistics with this feature.
          <br><br>
        </div>
    </div>

  <% end %>
  <%= render "players_table", players: @players_one_off, type: "one_off" %>
  <%= render "players_table", players: @players_team, type: "team" %>
</div>
