<div class="mx-auto md:w-5/6 w-full">
  <div class="mb-6">
    <h1 class="font-semibold text-3xl">New <%= @type %> Player</h1>
  </div>
  
  <%= render "form", user: @user, new_player: true %>
</div>
