<% @athletes = team.players %>
<div class="flex-1 mt-4">
  <div class="flex justify-between items-center border-b-2 pb-2">
    <h2 class="font-semibold text-2xl">My Athletes</h2>
  </div>
  <% if current_user.teams_coached.count == 0 %>
    <div class="shadow overflow-hidden bg-gray-50 py-10 text-center rounded-sm">
      You have no athletes. Click "Add Team" above to add your team before you can begin to add athletes.
    </div>
  <% elsif @athletes.count == 0 %>
    <div class="shadow overflow-hidden bg-gray-50 py-10 text-center rounded-sm">
      You have no players. Provide them with your teams invite code to join when signing up.
    </div>
  <% else %>
    <%= render "coaches/players/table", athletes: @athletes, team: team %>
  <% end %>
</div>