<header>
  <nav class="bg-white">
    <div class="mx-auto px-8">
      <div class="relative flex justify-between h-14">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        </div>

        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <% if current_user&.has_role?(:admin) %>
            <a href='/' 
               class="border-gray-300 border-2 text-gray-300 mt-1 inline-flex items-center px-1 rounded-lg text-sm font-medium">X</a>
            <% end %>          
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="pt-2 pb-4 space-y-1">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
        <% if current_user&.has_role?(:admin) %>
        <a href="/admin" class="bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"> Admin</a>
        <% end %>  
        <a href='mailto:luckymakro+gzrxpydftpm3ahxiqvgi@boards.trello.com?subject=TourneyChamp feedback from <%= "#{current_user.first_name} #{current_user.last_name}" %>' 
           class="bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Submit Feedback</a>
      </div>
    </div>
  </nav>
</header>
